html, body, h1, h2, h3, h4, p, a, div, span, section {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Work sans',sans-serif;
  line-height: 1.5rem;
  height: 100%;
  color: white;
  background-color: black;
}

a:visited {
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#kanyecard {
  text-align: center;
  margin: 1rem;
  border-radius: 0.4rem;
  flex-grow: 1;
}

#head {
  padding: 2rem 0 1rem 0;
}

#head img {
  min-height: 10rem;
  max-height: 10rem;
  filter: drop-shadow(0 0 0.8rem rgba(255, 255, 255, 0.3));
}

#kwestion {
  font-family: 'Staatliches', cursive;
  font-size: 1.24rem;
  line-height: 2rem;
  padding: 1rem 0 2rem 0;
}

#trackinfo {
  padding: 0 0 1.4rem 0;
}

#trackinfo a {
  color: white;
  text-decoration: none;
}

#trackinfo::before {
  content: "🎵"
}

#controls {
  margin-top: 1.6rem;
  text-align: center;
  background: white;
}

#next {
  font-family: 'Staatliches', cursive;
  font-size: 1.3rem;
  padding: 1rem;
  display: block;
  color: black;
}

#next::after {
  content: " Next Kwestion"
}
