<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <script src="/js/shake.js/shake.js" type="application/javascript"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/app.js" defer="true"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Staatliches|Work+Sans" rel="stylesheet">
</head>
